/*.body {
background-color:
 */
.container {
    display:grid;
    background-color: antiquewhite;
    color: navajowhite;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 66px 158px auto 100px 66px;
    grid-template-areas:
    "a c c"
    "b c c"
    "b e d"
    "b e ."
    "f f f"
}
.items {

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    border: 3px solid #b83535;
    outline: none;
    background-color: #bd4848;
}

#a {

        grid-area: a;
        margin: 16px 8px 8px 16px;

    }

#b {

        grid-area: b;
        margin: 8px 8px 8px 16px;
    }

#c {

        grid-area: c;
        margin: 16px 16px 8px 8px;
}

#d {
        grid-area: d;
        background-color: #bd4848;
        margin: 8px 16px 8px 8px;
}

#e {

        background-color: hsl(0, 47%, 51%);
        grid-area: e;
        margin: 8px;

    }

#f {
        background-color: hsl(0, 47%, 51%);
        grid-area: f;
        margin: 8px 16px 16px;
    }



